<html>
    <head>
            <link rel="stylesheet" type="text/css" href="style.css">
            <script src="https://unpkg.com/vue/dist/vue.js"></script>
            <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    </head>
    <body>
        <div id="vueApp">
            <transition name="networkMessage">
                <div id="networkMessage" v-if="networkResponse" :class="{ error: networkResponse.error }">{{ networkResponse.message }}</div>
            </transition>
            <div id="menuBar">
                <div class="title">Admin Panel</div>
                <div v-if="loggedInUser === null" id="loggedOutUserBar">
                    <button @click="login" id="loginBtn">Login</button>
                </div>
                <div v-if="loggedInUser" id="loggedInUserBar">
                    <div id="email"></div>
                    <button @click="logout">Logout</button>
                </div>
            </div>

            <div v-if="loggedInUser && loggedInUser.admin" id="main">
                <div>
                    <router-link to="/user">Users</router-link>
                    <router-link to="/group">Groups</router-link>
                    <router-link to="/dataset">Datasets</router-link>
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </body>
    <script src="./script.js"></script>
</html>
