@charset "UTF-8";

button {
    outline: none;
    border: none;
    color: inherit;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

.title {
    font-weight: bold;
    white-space: nowrap;
}

button, .block {
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    padding: 5px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0px;
}

#main, #menuBar {
    padding: 10px;
}

#main {
    padding-top: 60px;
}

#menuBar {
    position: absolute;
    display: grid;
    grid-template-columns: min-content auto;
    border-bottom: 1px solid #e4e4e4;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    z-index: 100;
    background-color: white;
}

.closeBtn {
    justify-self: end;
    width: 25px;
    height: 25px;
    font-size: 22px;
    padding: 0;
    margin: 0;
    border: none;
}

.closeBtn::before {
    content: '×';
    line-height: 25px;
}

body.selectedUser .right, body.selectedGroup .right {
    margin-right: 350px;
}

body:not(.loggedIn) .requiresLoggedIn {
    display: none !important;
}

body.loggedIn .requiresLoggedOut {
    display: none !important
}

body:not(.selectedUser) .requiresSelectedUser {
    display: none !important;
}

body:not(.selectedGroup) .requiresSelectedGroup {
    display: none !important;
}

body:not(.isAdmin) .requiresAdmin {
    display: none !important;
}

#loggedOutUserBar {
    justify-self: end;
}

#loggedInUserBar {
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-column-gap: 10px;
    justify-self: end;
    align-items: center;
}

.name:before {
    content: "Name: "
}

.email:before {
    content: "Email: "
}

.admin:before {
    content: "Admin: "
}

.deleteRow {
    cursor: pointer;
}

.deleteRow::before {
    content: '×';
    line-height: 15px;
}

/* #searchResults:not(.hasResult) {
    display: none;
} */

.listContainer {
    padding: 0px;
}

.listContainer .header {
    background-color: #e4e4e4;
    font-weight: bold;
    padding: 5px;
}

.list {
    padding: 0px;
    display: grid;
}

.list > * {
    display: contents;
    color: inherit;
    text-decoration: inherit;
}

.list > * > * {
    padding: 5px;
    border-bottom: 1px solid #e4e4e4;
}

.list > div:last-child {
    border-bottom: none;
}

#searchResults .list > div:nth-child(2n), .groups > div:nth-child(4n+3), .groups > div:nth-child(4n+4) {
    background-color: #d3d3d333;
}

.listItem {
    display: grid;
    align-items: center;
}

.datasets.list {
    grid-template-columns: auto min-content min-content min-content min-content;
}

.users.list .listItem {
    grid-template-columns: auto min-content;
}

.listItem > div {
    grid-row: 1;
}

.listItem .name {
    grid-column: 1;
}

input {
    padding: 5px;
}

input[type="checkbox"] {
    margin: 0;
    padding: 0;
}

div.requiresLoggedIn {
    display: grid;
    grid-row-gap: 10px;
}

.selectFromList {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 10px;
}

.selectFromList > * {
    align-self: start;
}

.searchAndResults {
    display: grid;
    grid-row-gap: 10px;
}



#userData .groups.list {
    grid-template-columns: auto min-content;
}

#groupData .users.list {
    grid-template-columns: auto min-content;
}