@charset "UTF-8";

button {
    outline: none;
    border: none;
    color: inherit;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

.title {
    font-weight: bold;
    white-space: nowrap;
}

button, .block {
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    padding: 5px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0px;
}

#main, #menuBar {
    padding: 10px;
}

#main {
    padding-top: 60px;
}

#menuBar {
    position: absolute;
    display: grid;
    grid-template-columns: min-content auto;
    border-bottom: 1px solid #e4e4e4;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    z-index: 100;
    background-color: white;
}

.sideBar, .right {
    transition: margin-right 200ms;
}

.sideBar {
    display: grid;
    grid-auto-rows: min-content;
    grid-row-gap: 5px;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    right: 0;
    height: 100vh;
    width: 350px;
    margin-right: -350px;
    background-color: white;
    padding: 10px;
    padding-top: 60px;
}

body.selectedUser #userData.sideBar, body.selectedGroup #groupData.sideBar {
    margin-right: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.closeBtn {
    justify-self: end;
    width: 25px;
    height: 25px;
    font-size: 22px;
    padding: 0;
    margin: 0;
    border: none;
}

.closeBtn::before {
    content: '×';
    line-height: 25px;
}

body.selectedUser .right, body.selectedGroup .right {
    margin-right: 350px;
}

body:not(.loggedIn) .requiresLoggedIn {
    display: none !important;
}

body.loggedIn .requiresLoggedOut {
    display: none !important
}

body:not(.selectedUser) .requiresSelectedUser {
    display: none !important;
}

body:not(.selectedGroup) .requiresSelectedGroup {
    display: none !important;
}

body:not(.isAdmin) .requiresAdmin {
    display: none !important;
}

#loggedOutUserBar {
    justify-self: end;
}

#loggedInUserBar {
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-column-gap: 10px;
    justify-self: end;
    align-items: center;
}

.name:before {
    content: "Name: "
}

.email:before {
    content: "Email: "
}

.admin:before {
    content: "Admin: "
}

.sideBar .list {
    display: grid;
    grid-template-columns: 1fr min-content;
}

.sideBar .list[data-link] {
    cursor: pointer;
}

.sideBar .list > .deleteRow {
    cursor: pointer;
}

.sideBar .list > .deleteRow::before {
    content: '×';
    line-height: 15px;
}

/* #searchResults:not(.hasResult) {
    display: none;
} */

.listContainer {
    padding: 0px;
}

.listContainer .header {
    background-color: #e4e4e4;
    font-weight: bold;
    padding: 5px;
}

.list {
    padding: 0px;
    display: grid;
}

.list.selectable > div {
    cursor: pointer;
}

.list > div {
    padding: 5px;
    border-bottom: 1px solid #e4e4e4;
}

.list > div:last-child {
    border-bottom: none;
}

.sideBar .list > div:nth-last-child(-n+2) {
    border-bottom: none;
}

#searchResults .list > div:nth-child(2n), .groups > div:nth-child(4n+3), .groups > div:nth-child(4n+4) {
    background-color: #d3d3d333;
}

input {
    padding: 5px;
}

div.requiresLoggedIn {
    display: grid;
    grid-row-gap: 10px;
}

.selectFromList {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 10px;
}

.selectFromList > * {
    align-self: start;
}

.searchForm {
    justify-self: end;
}

.searchAndResults {
    display: grid;
    grid-row-gap: 10px;
}
