<html>
    <head>
        <base target="_blank">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <style>
            body {
                max-width: 600px;
                margin: auto;
                padding: 20px;
                font-family: Roboto,sans-serif;
                -webkit-font-smoothing: antialiased;
                color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));
                letter-spacing: var(--mdc-typography-body2-letter-spacing, 0.0178571429em);
            }
        </style>
    </head>
    <body>
        <h2>{{ name }}'s Terms of Service</h1>
        <span>{{ msg }}</span>
    </body>
    <script>
    </script>
</html>
